Repository lunyi/tgs-automation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_monthly_expired_domains, build_daily_brands_revenue, build_daily_first_deposit, build_weekly_brands_statistics, build_create_site, deploy_create_site

build_monthly_expired_domains:
  stage: docker-build-push
  script:
  - echo "Building $FEATURE_NAME"
  - echo "Building $IMAGE_NAME"
  - docker build -t $IMAGE_NAME -f features/$FEATURE_NAME/Dockerfile .
  - docker push $IMAGE_NAME
  - echo $TAG > tag.txt
  artifacts:
    paths:
    - tag.txt
  after_script:
  ...

build_daily_brands_revenue:
  stage: docker-build-push
  script:
  - echo "Building $FEATURE_NAME"
  - echo "Building $IMAGE_NAME"
  - docker build -t $IMAGE_NAME -f features/$FEATURE_NAME/Dockerfile .
  - docker push $IMAGE_NAME
  - echo $TAG > tag.txt
  artifacts:
    paths:
    - tag.txt
  after_script:
  ...

build_daily_first_deposit:
  stage: docker-build-push
  script:
  - echo "Building $FEATURE_NAME"
  - echo "Building $IMAGE_NAME"
  - docker build -t $IMAGE_NAME -f features/$FEATURE_NAME/Dockerfile .
  - docker push $IMAGE_NAME
  - echo $TAG > tag.txt
  artifacts:
    paths:
    - tag.txt
  after_script:
  ...

build_weekly_brands_statistics:
  stage: docker-build-push
  script:
  - echo "Building $FEATURE_NAME"
  - echo "Building $IMAGE_NAME"
  - docker build -t $IMAGE_NAME -f features/$FEATURE_NAME/Dockerfile .
  - docker push $IMAGE_NAME
  - echo $TAG > tag.txt
  artifacts:
    paths:
    - tag.txt
  after_script:
  ...

build_create_site:
  stage: docker-build-push
  script:
  - echo $TAG > tag.txt
  artifacts:
    paths:
    - tag.txt
  after_script:
  ...

deploy_create_site:
  stage: deploy
  needs:
  - build_create_site
  before_script:
  - export KUBECONFIG="kubeconfig_devops"
  - kubectl config view
  script:
  - export TAG=$(cat tag.txt)
  - echo "Deploying image with tag:$TAG"
  - kubectl -n devops set image deployment/create-site create-site="$Registry/$FEATURE_NAME:$TAG"

refactor
  README.md
  features/daily-brands-revenue/deployment/configmap_currency.yaml
  features/daily-brands-revenue/deployment/cronjobs.yaml
  features/daily-brands-revenue/main.go
Due: build_daily_brands_revenue

add telegram to log
  internal/log/log.go
  internal/util/config.go
  internal/util/http_utils.go
  internal/util/init.go
  pkg/telegram/send_message.go
Due: none

fix
  features/daily-brands-revenue/deployment/cronjobs.yaml
  internal/log/log.go
Due: build_daily_brands_revenue

remove tests
  pkg/namecheap/get_domains_test.go
  test/mocks/mock_httpclient.go
Due: none

fix
  pkg/googlesheet/create_expired_domain.go
Due: none

remove test
  pkg/googlesheet/create_expired_domain_test.go
Due: none

trigger daily-brand-revenue
  features/daily-brands-revenue/deployment/cronjobs.yaml
Due: build_daily_brands_revenue

fix
  features/daily-brands-revenue/deployment/cronjobs.yaml
  features/daily-brands-revenue/main.go
Due: build_daily_brands_revenue

fix load config
  features/daily-brands-revenue/main.go
Due: build_daily_brands_revenue

fix
  features/daily-brands-revenue/main.go
Due: build_daily_brands_revenue

debug
  pkg/letstalk/send_message.go
Due: none

add postman collection
  features/daily-brands-revenue/LetsTalk.postman_collection.json
  pkg/letstalk/send_message.go
Due: build_daily_brands_revenue

add message to debug
  pkg/letstalk/send_message.go
Due: none

revert
  features/daily-brands-revenue/main.go
Due: build_daily_brands_revenue

測試
  features/weekly-brands-statistics/main.go
Due: build_weekly_brands_statistics

fix
  features/weekly-brands-statistics/main.go
Due: build_weekly_brands_statistics

fix
  features/weekly-brands-statistics/main.go
  internal/log/log.go
Due: build_weekly_brands_statistics

revert it back
  features/weekly-brands-statistics/main.go
Due: build_weekly_brands_statistics

for change month and week
  features/weekly-brands-statistics/main.go
  tgs-automation.code-workspace
Due: build_weekly_brands_statistics

revert back
  features/weekly-brands-statistics/main.go
Due: build_weekly_brands_statistics

fix
  pkg/postgresql/sql/get_daily_brands_revenue.sql
Due: none

fix get_daily_brands_revenue
  pkg/postgresql/get_daily_brands_revenue.go
  pkg/postgresql/sql/get_daily_brands_revenue.sql
Due: none

fix
  features/daily-brands-revenue/main.go
  internal/log/log.go
Due: build_daily_brands_revenue

remove MOVN2
  features/daily-first-deposit/main.go
Due: build_daily_first_deposit

add checknameserver
  .vscode/launch.json
  features/data-retrieve-api/jwt_token.go
  features/data-retrieve-api/main.go
  features/data-retrieve-api/middleware.go
  features/domain-api/Dockerfile
  features/domain-api/get_original_nameservers.go
  features/domain-api/get_target_nameservers.go
  features/domain-api/main.go
  go.mod
  go.sum
  internal/jwt_token/token.go
  internal/middleware/auth_middleware.go
  pkg/telegram/send_message.go
Due: none

fix go.mod
  go.mod
  go.sum
  internal/kubernetes/kube_client.go
Due: none

add k8s.io/client-go/tools/clientcmd
  internal/kubernetes/kube_client.go
Due: none

run go mod tidy
  go.mod
  go.sum
Due: none

add changenameserver
  features/domain-api/get_original_nameservers.go
  features/domain-api/get_target_nameservers.go
  features/domain-api/main.go
  features/domain-api/nameservers.go
Due: none

domain_price.go completed
  features/domain-api/domain.go
  features/domain-api/domain_price.go
  features/domain-api/main.go
Due: none

create domain finished
  features/domain-api/domain.go
  features/domain-api/domain_price.go
  features/domain-api/main.go
  go.mod
  go.sum
Due: none

add swagger
  features/domain-api/docs/docs.go
  features/domain-api/docs/swagger.json
  features/domain-api/docs/swagger.yaml
  features/domain-api/domain_price.go
  features/domain-api/main.go
  features/domain-api/nameservers.go
  go.mod
  go.sum
  pkg/cloudflare/get_target_nameservers.go
  pkg/namecheap/get_domain_avaiable.go
  pkg/namecheap/get_domain_price.go
Due: none

fix swagger
  features/domain-api/docs/docs.go
  features/domain-api/docs/swagger.json
  features/domain-api/docs/swagger.yaml
  features/domain-api/domain.go
  features/domain-api/domain_price.go
  features/domain-api/main.go
  features/domain-api/nameservers.go
Due: none

fix dockerfile
  features/domain-api/Dockerfile
Due: none

fix Dockerfile
  features/domain-api/Dockerfile
Due: none

fix gitlab-ci
  .gitlab-ci.yml
Due: none

test
  features/domain-api/Dockerfile
Due: none

add deployment
  features/domain-api/deployment/k8s/domain-api/.helmignore
  features/domain-api/deployment/k8s/domain-api/Chart.yaml
  features/domain-api/deployment/k8s/domain-api/templates/NOTES.txt
  features/domain-api/deployment/k8s/domain-api/templates/_helpers.tpl
  features/domain-api/deployment/k8s/domain-api/templates/deployment.yaml
  features/domain-api/deployment/k8s/domain-api/templates/hpa.yaml
  features/domain-api/deployment/k8s/domain-api/templates/ingress.yaml
  features/domain-api/deployment/k8s/domain-api/templates/service.yaml
  features/domain-api/deployment/k8s/domain-api/templates/serviceaccount.yaml
  features/domain-api/deployment/k8s/domain-api/templates/tests/test-connection.yaml
  features/domain-api/deployment/k8s/domain-api/values.yaml
Due: none

Path conditions:
  build_monthly_expired_domains: any of: features/monthly-expired-domains/**/*
  build_daily_brands_revenue: any of: features/daily-brands-revenue/**/*
  build_daily_first_deposit: any of: features/daily-first-deposit/**/*
  build_weekly_brands_statistics: any of: features/weekly-brands-statistics/**/*
  build_create_site: any of: features/create-site/**/*
  deploy_create_site: any of: features/create-site/**/*
